<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
<img src="/images/coffee-animated-gif-5.gif" alt="Coffee Cup">
<p>
  Under construction. Please enjoy this cup of coffee.
</p>
<p>FusionCharts Demo</p>
<div id="chart-container"></div>
<%= @chart.render() %>
<%=
# Authorization (Web)
w = Redd.it(:web, "CLIENT_ID", "SECRET", "REDIRECT_URI", user_agent: "TestSite v1.0.0")
url = w.auth_url("random_state", ["identity", "read"], :temporary)
puts "Please go to #{url} and enter the code below:"
code = gets.chomp
w.authorize!(code)

# Authorization
r = Redd.it(:script, "CLIENT_ID", "SECRET", "DrunkWhenSober", "551133", user_agent: "Drunken Prawler")
r.authorize!

# See documentation for more grants.
%>
