<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
<html>
<head>
  <title>Coffee-And-Cream</title>
</head>
<body>
<img src="/images/coffee-animated-gif-5.gif" alt="Coffee Cup">
<p>
  Under construction. Please enjoy this cup of coffee.
</p>

</body>
</html>
