<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
<html>
<head>
  <title>Coffee and Cream</title>
</head>
<body>
<img src="/images/coffee-animated-gif-5.gif" alt="Coffee Cup" width="180" height="194" align="left">
<p style="font-size:18px">The Coffee and Cream of Data Analysis</p>
<p style="font-size:10px">Still under construction. In the mean time, enjoy this cup of coffee</p>
<%= @jpchart.render() %>
  <div id="wrapper">
    <div id="leftcolumn">
      <div id="jpchart-container"></div>
    </div>
    <%= @chchart.render() %>
    <div id="rightcolumn">
        <div id="chchart-container"></div>
    </div>
  </div>
</body>
</html>
